<div>
    <span {{bind-attr class=":toggle-icon node.isLeaf:leaf:"}} {{action toggle}}>
        {{#if isExpanded}}
            &#x25BC;
        {{else}}
            &#x25B6;
        {{/if}}
    </span>
    
<!--How drag and drop works: a node of a tree-node has a property 'draggable'.
If this property is set 'true' (see tree_data_module) then the node.label, 
or more specific the span becomes draggable: -->
    <span {{action toggle}} {{bind-attr draggable=node.draggable}}>
        {{node.label}}
    </span>
</div>

{{#if isExpanded}}
    {{tree-branch node=node}}
{{/if}}