<div class="row box">
    <div class="large-5 medium-3 columns">
        <!-- Visualization Selection -->
        <div class="row inner_box">
            <div class="inner_title_box">
                <h7>Select Visualization</h7>
            </div>
            <div class="sliderWrapper">
                {{view App.SlideShowView slides=controller.model}}
            </div>
        </div>

        <!-- Visualization Configuration - Left: Tree with data source; Right: dimension mapping -->
        <div class="row inner_box">
            <div class="inner_title_box">
                <h7>Configure Visualization</h7>  <span class="visualize"><a {{action 'select'}}>Select Data</a></span>
            </div>
            <div class="row left-collapse">
                <div class="large-5 medium-6 columns properties-list-content">
                    <div class="data_selection_title_box">
                        <h7>Selected Data</h7>
                    </div>
                    {{view App.PropertiesListView categories=controller.categorizedProperties}}
                </div>
                <div class="large-7 medium-6 columns dimensions">
                    <div class="dimensions_title_box">
                        <h7>Visualization Dimensions</h7>
                    </div>
                    <div>
                        {{view App.VisualizationOptionsView
                            options=controller.structureOptions
                            config=controller.visualizationConfiguration}}
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="large-7 medium-9 columns">
        <div class="inner_box">
            <!-- Visualization -->
            <div class="row inner_box_visualization">
                {{view App.DrawVisualizationView
                    id='visualization'
                    visualization=controller.drawnVisualization
                    configurationArray=controller.visualizationConfiguration
                }}
            </div>
               
            <div class="row layout_option_box">
                <div class="large-4 medium-4 columns">
                    <!-- Visualization Consumption -->                   
                     <div class="row inner_box">
                    {{partial 'export'}}
                </div>
                     <div class="row inner_box">
                    {{partial 'save'}}
                </div>
                </div>

                <div class="large-8 medium-8 columns inner_box"> 
                    <!-- Visualization Customization -->
                    <div class="inner_title_box">
                        <h7>Visualization Options</h7>
            </div>
                    <div>
                        {{view App.VisualizationOptionsView
                            options=controller.layoutOptions
                            config=controller.visualizationConfiguration}}
        </div>
    </div>

            </div>



        </div>

    </div>
</div>
